<%= simple_form_for(@record, url: @record.new_record? ? project_records_path(@project) : project_record_path(@project, @record)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :type,
      collection: Record.types.map { |type| [Record.human_type_value(type), type] },
      as: :radio_buttons %>

    <%= f.input :date %>
    <%= f.input :description %>

    <%= f.input :initial_time, label_html: {for: "#{f.object_name}_initial_hour"}, wrapper_html: {class: 'time_record_field'} do %>
      <div class="input-group">
        <%= f.input :initial_hour, wrapper: false, label: false %>
        <div class="input-group-addon">:</div>
        <%= f.input :initial_minute, wrapper: false, label: false %>
      </div>
    <% end %>

    <%= f.input :final_time, label_html: { for: "#{f.object_name}_final_hour" }, wrapper_html: {class: 'time_record_field'} do %>
      <div class="input-group">
        <%= f.input :final_hour, wrapper: false, label: false %>
        <div class="input-group-addon">:</div>
        <%= f.input :final_minute, wrapper: false, label: false %>
      </div>
    <% end %>

    <%= f.input :amount_time, label_html: { for: "#{f.object_name}_hours" }, wrapper_html: {class: 'amount_record_field'} do %>
      <div class="input-group">
        <%= f.input :hours, wrapper: false, label: false %>
        <div class="input-group-addon">:</div>
        <%= f.input :minutes, wrapper: false, label: false %>
      </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
