<table class="table">
  <thead>
    <tr>
      <th><%= Record.human_attribute_name(:date) %></th>
      <th><%= Record.model_name.human %></th>
      <th><%= Record.human_attribute_name(:total_time) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% records.each do |record| %>
      <tr>
        <td><%= link_to record.date.strftime("%d/%m/%Y") + ' - ' + "%02d:%02d" % [record.initial_hour, record.initial_minute], project_record_path(@project, record) %></td>
        <td><%= link_to record.description, project_record_path(@project, record) %></td>
        <td><%= link_to record.total_time, project_record_path(@project, record) %></td>
        <td class="text-right"><%= button_to 'Concluir', project_record_path(@project, id: record.id, record: [], close: true), method: 'patch', class: 'btn btn-success', form: {style: 'display: inline'} if record.opened? %>
            <%= link_to 'Cancelar', project_record_path(@project, record), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar este registro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
