<table class="table table-condensed responsive-table">
  <thead>
    <tr>
      <th><%= Record.human_attribute_name(:date) %></th>
      <th><%= Record.human_attribute_name(:description) %></th>
      <th><%= Record.human_attribute_name(:total_time) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% records.each do |record| %>
      <tr>
        <td data-th="<%= Record.human_attribute_name(:date) %>">
          <%= link_to record.date.strftime("%d/%m/%Y") + ' - ' + "%02d:%02d" %
            [record.initial_hour, record.initial_minute],
            project_record_path(@project, record) %>
        </td>
        <td data-th="<%= Record.human_attribute_name(:description) %>">
          <%= link_to record.description,
            project_record_path(@project, record) %>
        </td>
        <td data-th="<%= Record.human_attribute_name(:total_time) %>">
          <%= link_to record.total_time,
            project_record_path(@project, record) %>
        </td>
        <td data-th="<%= t('actions.actions') %>">
          <div class="text-right">
          <%= button_to t('actions.finish'), project_record_path(@project,
            id: record.id, record: [], close: true), method: 'patch',
            class: 'btn btn-success', form: {class: 'inline'}\
              if record.opened? %>
            <%= link_to t('actions.cancel'),
              project_record_path(@project, record),
              method: :delete, data: { confirm: t('actions.cancel_prompt') },
              class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
