<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.association :parent %>

    <%= f.input :initial_date, as: :string, input_html: {class: 'datepicker',
      value: @project.initial_date ?
      @project.initial_date.strftime("%d/%m/%Y") : '' } %>
    <%= f.input :final_date, as: :string, input_html: {class: 'datepicker',
      value: @project.final_date ?
      @project.final_date.strftime("%d/%m/%Y") : '' } %>

    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
