<table class="table">
  <thead>
    <tr>
      <th><%= Project.human_attribute_name(:title) %></th>
      <th><%= Project.human_attribute_name(:description) %></th>
      <th><%= Project.human_attribute_name(:initial_date) %></th>
      <th><%= Project.human_attribute_name(:final_date) %></th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project, project %></td>
        <td><%= project.description %></td>
        <td><%= project.initial_date %></td>
        <td><%= project.final_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
