<table class="table responsive-table">
  <thead>
    <tr>
      <th><%= Project.human_attribute_name(:title) %></th>
      <th><%= Project.human_attribute_name(:description) %></th>
      <th><%= Project.human_attribute_name(:initial_date) %></th>
      <th><%= Project.human_attribute_name(:final_date) %></th>
      <th><%= Project.human_attribute_name(:total_time) %></th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td data-th="<%= Project.human_attribute_name(:title) %>"><%= link_to project, project %></td>
        <td data-th="<%= Project.human_attribute_name(:description) %>"><%= project.description %></td>
        <td data-th="<%= Project.human_attribute_name(:initial_date) %>"><%= l project.initial_date if project.initial_date %></td>
        <td data-th="<%= Project.human_attribute_name(:final_date) %>"><%= l project.final_date if project.final_date %></td>
        <td data-th="<%= Project.human_attribute_name(:total_time) %>"><%= project.total_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
