<h1><%= project.title + (project.active? ? '' : " (Inactive)") %></h1>

<div class="panel panel-default">
  <div class="panel-heading"><%= Project.human_attribute_name(:description) %></div>
  <div class="panel-body">
    <%= project.description %>
    <% if project.initial_date.present? %>
      <div class="initial-date">
      <strong><%= Project.human_attribute_name(:initial_date) %>:</strong> <%= l project.initial_date %></div>
    <% end %>
    <% if project.final_date.present? %>
      <div class="final-date">
      <strong><%= Project.human_attribute_name(:final_date) %>:</strong> <%= l project.final_date %></div>
    <% end %>

    <div class="total-time">
      <strong><%= Project.human_attribute_name(:total_time) %>:</strong>
      <%= project.total_time %>
    </div>

    <% if project.parent.present? %>
    <div class="parent">
      <strong><%= Project.human_attribute_name(:parent) %>:</strong>
      <%= link_to project.parent, project.parent if @project.parent %>
    </div>
    <% end %>
  </div>
</div>
<p></p>
