<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Parent</th>
      <th>Initial date</th>
      <th>Final date</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= link_to project, project %></td>
        <td><%= project.description %></td>
        <td><%= link_to project.parent, project.parent if project.parent %></td>
        <td><%= project.initial_date %></td>
        <td><%= project.final_date %></td>
        <td><%= project.active? ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
