<%= render 'project', project: @project %>

<% if @project.subprojects.any? %>
  <h1><%= Project.human_attribute_name(:subprojects) %></h1>
  <%= render 'projects', projects: @project.subprojects %>
<% end %>

<%= link_to t('actions.edit'), edit_project_path(@project) %> |
<%= link_to t('actions.destroy'), @project, method: :delete,
  data: { confirm: t('actions.destroy_prompt', model: @project) } %> |
<%= link_to t('actions.back'), projects_path %>
