<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @project.parent %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @project.initial_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @project.final_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
