<p id="notice"><%= notice %></p>

<%= render 'project', project: @project %>

<% if @project.subprojects.any? %>
  <h1>Sub-projects</h1>
  <%= render 'projects', projects: @project.subprojects %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', projects_path %>
