<p id="notice"><%= notice %></p>

<h1><%= @project.title %></h1>

<p><%= @project.description %></p>

<p>
  <strong>Parent:</strong>
  <%= link_to @project.parent, @project.parent %>
</p>

<p><%= @project.initial_date %> - <%= @project.final_date %></p>

<p>
  <strong>Active?</strong>
  <%= @project.active? ? 'Yes' : 'No' %>
</p>

<h1>Sub-projects</h1>
<%= render 'projects', projects: @project.subprojects %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
