<p><%= t('devise.mailer.password_instructions.hello', name: @resource.name) %></p>

<p><%= t('devise.mailer.password_instructions.reset_password_instructions') %></p>

<p><%= link_to t('devise.mailer.password_instructions.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.password_instructions.ignore') %></p>
<p><%= t('devise.mailer.password_instructions.your_password_wont_be_changed') %></p>
